{% extends "teatru\navbar.html" %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles/style.css">
<script src="scripts/script.js"></script>
{% block style %}
<style>  
.container {
  position: relative;
  margin: auto;
  top: 2.5vw;
  padding-top:2vw;
  width:90vw;
  border-radius: 20px;
  height: 55vw;
  background-color: #A6A6A6;
}
</style>
{% endblock style %}
<body>
<div class="topnav" id="myTopnav">
  <a href="Index.html" style="height:auto; margin: 0; padding: 0;" class="home"><img src="Imagini/logo-teatru-NEGRU.png" style=" width:100px; height:52px; padding-top:3px;"></a>
  <div class="dropdown">
    <button onclick="myFunction('m1')" class="dropbtn active">TEATRU</button>
    <div id="m1" class="dropdown-content">
      <a href="Istoric.html" class="active">ISTORIC</a>
      <a href="Sali_de_spectacol.html">SALI DE SPECTACOL</a>
      <a href="Informatii_generale.html">INFORMATII GENERALE</a>
    </div>
  </div>
  <div class="dropdown">
    <button onclick="myFunction('m2')" class="dropbtn">ECHIPA</button>
    <div id="m2" class="dropdown-content">
      <a href="Angajatii_teatrului.html">ANGAJATII TEATRULUI</a>
      <a href="Trupe_de_actori.html">TRUPE DE ACTORI</a>
    </div>
  </div> 
  <a href="Program.html">PROGRAM</a>
  <a href="Bilete.html">BILETE</a>
  <a href="Contact.html">CONTACT</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="Function()">&#9776;</a>
</div>
{% block content %}
<div class="main">  
<h1 style="margin : 1.5% 0 0 1.5%; padding-left:1.5%; font-size:2vw; 
border-bottom-style: solid; border-bottom-color: #8A0202; border-bottom-width:3px;">ISTORIC<h1>
 <div class="container" style="height: 100%;">
  <h1 style="margin: -0.25% 3.5% 1% 3.5%; padding-left:3.5%; background-color: #AB5454; border-radius: 10vw; font-size:2.4vw; color:#ffffff">SCURTA DESCRIERE</h1>
  <p style="margin:2% 3.5%; font-size:1.6vw; background-color: #CF8F8F; border-radius: 10px; padding: 1.5%;">Teatrul Tineretului este o importantă instituție culturală din Piatra Neamț, județul Neamț, situată în Piața Ștefan cel Mare nr. 1. Actualul director al teatrului este regizorul-dramaturg și scriitoarea Gianina Cărbunariu, originară din Piatra Neamț.
	</br></br>
  </p>
  <h1 style="margin: -0.25% 3.5% 1% 3.5%; padding-left:3.5%; background-color: #AB5454; border-radius: 10vw; font-size:2.4vw; color:#ffffff">ARHITECTURA</h1>
  <p style="margin:2% 3.5%; font-size:1.6vw; background-color: #CF8F8F; border-radius: 10px; padding: 1.5%;">Clădirea în care Teatrul își desfășoară activitatea de 60 de ani a fost construită între anii 1929 – 1947, după planurile de construcție ale arhitectului Roger Bolomey din București, antreprenorul lucrării fiind Carol Zane.
	</br></br>
	Sala este dispusă pe 3 niveluri, oferind inițial până la 1.000 de locuri, din care 578 pe scaune. Intrarea, foarte 
	impresionantă, este încadrată de statuile zeiței Comediei, respectiv a Tragediei. Aspectul exterior îmbină armonios 
	stilul neoclasic, dominant în ansamblul fațadei, cu elemente neorenascentiste și neobaroce, în timp ce finisajele și 
	ornamentațiile interioare se impun printr-un accentuat ton rococo.
	</br></br>
	Edificiul este structurat pe trei niveluri: sală, loje, balcon. În proiectarea sălii de spectacole s-a avut în vedere 
	realizarea unei acustici perfecte. Este dotată și cu o fosă pentru orchestră. Aceste caracteristici transformă locația 
	într-un spațiu ideal pentru montarea spectacolelor de teatru, a celor de operă și a concertelor. Sala are în prezent o 
	capacitate totală de 670 de locuri.
	</br></br>
  </p>
  <h1 style="margin: -0.25% 3.5% 1% 3.5%; padding-left:3.5%; background-color: #AB5454; border-radius: 10vw; font-size:2.4vw; color:#ffffff">FUNCTIONARE</h1>
  <p style="margin:2% 3.5%; font-size:1.6vw; background-color: #CF8F8F; border-radius: 10px; padding: 1.5%;">„A început să funcționeze ca teatru abia din anul 1959, dat fiind faptul că, până la acel moment, a fost închiriată, prin licitație, fie unor persoane fizice, fie unora juridice, fiind cunoscută în epocă și cu funcționalitatea de cinematograf sau cu cea de “club muncitoresc”.
	</br></br>
	Din cheltuielile totale de construcție, peste 50 % au fost bani publici asigurați de Primăria orașului, la care s-au adăugat fonduri de la Prefectură, Ministerul Culturii Naționale, partide politice, Rezidentul Regal al Ținutului Prut, diverse societăți particulare.
	</br></br>
	Activitatea teatrală profesionistă debutează în Piatra Neamț în anul 1958 pe scena Sălii Roxy, construită în 1870 de Petrache Liciu – Caia chiar în mijlocul orașului, în spațiul dintre actuala clădire a Teatrului și Hotelul “Ceahlăul”. Secția Piatra – Neamț a funcționat public între octombrie 1958 și iunie 1961, făcând parte, din august 1958, din organigrama Teatrului băcăuan, fără să aibă personalitate juridică, fără director, regizor sau secretar literar. Actorul Paul Varduca a fost primul șef al Secției, având atribuții administrative. În cele trei stagiuni ale Secției, au fost prezentate publicului pietrean un număr de 20 de premiere, dintre care trei au fost produse de Studioul “Casandra” al Institutului de Teatru București.
	</br></br>
	Spectacolul inaugural din data de 3 octombrie 1958 a fost una dintre producțiile preluate de la Institut, astfel încât momentul de debut al acestei instituții va rămâne mereu asociat cu numele celebrului regizor și pedagog David Esrig, care avea atunci doar 23 de ani. Vicleniile lui Scapino, în regia tânărului Esrig, îi avea în distribuție pe la fel de tinerii absolvenți de actorie Leopoldina Bălănuță, Florin Piersic, Radu Voicescu, George Motoi, Cosma Brașoveanu etc.
	</br></br>
	În anul 1959, Ion Coman, ctitorul Teatrului Tineretului ca instituție, se transferă de la Teatrul Regiunii București la Piatra Neamț, ca șef al Secției create de el în acest oraș și insistă ca această secție să devină un teatru de sine stătător.
  Prin Hotărârea nr. 357 din 8 iunie 1961 a Consiliului de Miniștri “Secția de teatru din Piatra Neamț devine independentă, cu denumirea de Teatrul de Stat din Piatra Neamț.”
	</br></br>
	În luna martie a anului 1967, Teatrul din Piatra Neamț a participat la Festivalul de Teatru pentru Tineret și copii de la Nürnberg și la Săptămâna Internațională a Teatrelor pentru Copii și Tineret de la München. Una dintre scenele germane pe care urma să fie prezentat spectacolul regizat de Ion Cojar, AFARĂ-I VOPSIT GARDU’, ÎNĂUNTRU-I LEOPARDU’, se numea Teatrul Tineretului (Das Theater der Jugend). 
	</br></br>
	Cu ocazia acestui turneu și inspirat de teatrul-gazdă german, directorul Ion Coman, personalitate consacrată în mitologia breslei teatrale românești, a solicitat forurilor locale schimbarea titulaturii instituției din Teatrul de Stat Piatra Neamț în Teatrul Tineretului. Pe toate tipăriturile pentru deplasarea în R.F.G, Teatrul din Piatra Neamț apare ca Das Theater der Jugend Piatra Neamtz – Rumänien, chiar dacă formalitățile de schimbare a titulaturii se vor încheia după data desfășurării turneului. Conform Deciziei nr. 570 din 27 mai 1967 a Comitetului Executiv al Sfatului Popular al Regiunii Bacău: “Se atribuie Teatrului de stat Piatra Neamț denumirea de Teatrul Tineretului.” 
	</br></br>
	Această scurtă prezentare a începuturilor a fost scrisă având ca surse de documentare arhiva TT, precum și volumul Teatrul Tineretului, Între Dragonul și Piațeta (editura Asachi, 2010 Piatra Neamț), lucrare realizată de către domnul Gheorghe Bunghez, în urma unei pasionate cercetări și a experienței personale.
	</br></br>
	În cei 60 de ani de existență, Teatrul Tineretului și-a câștigat renumele de rampă de lansare pentru tineri actori, regizori, scenografi, compozitori ce au avut ulterior cariere profesionale de excepție. Poate că nu întâmplător mulți dintre regizorii care au lucrat la Teatrul Tineretului au ales ulterior și o carieră pedagogică încununată de realizări: Ion Cojar și Cătălina Buzoianu au fost unii dintre cei mai importanți profesori pentru generații întregi de absolvenți de actorie și de regie ai U.N.A.T.C. „I.L Caragiale”, David Esrig este fondatorul Academiei de teatru și film „Athanor“ din Germania, Andrei Șerban este profesor la Columbia University în S.U.A., iar Radu Penciulescu este recunoscut ca fiind unul dintre cei mai reputați profesori de actorie din Suedia. 
	</br></br>
	Perioada de glorie incontestabilă a Teatrului Tineretului a fost marcată de prezența în echipa secretariatului literar a celor care au gândit strategii de consolidare a trupei și de afirmare a identității instituției: Eduard Covali, Paul Findrihan și Mircea Zaharia. 
	</br></br>
	Cunoscut în lumea teatrală în perioada de dinainte de 1989 drept „fenomenul de la Piatra Neamț”, apreciat de glumeții serioși ai vremii ca fiind „cel mai bun teatru din București”, Teatrul Tineretului din Piatra Neamț a funcționat ca un laborator de creație pentru generații întregi de artiști care au colaborat cu instituția de-a lungul vremii: Constantin Cojocaru, Mitică Popescu, Dionisie Vitcu, Traian Stănescu, Virgil Ogășanu, Ștefan Radoff, Theodor Danetti, Boris Petroff, Valentin Uritescu, Cornel Todea, Lucian Giurchescu, Dinu Cernescu, Zoe Anghel Stanca, Ion Cojar, Iulian Vișa, Mihai Mădescu, Alexandru Lazăr, Alexa Visarion, Emil Mandric, Moni Ghelerter, Sanda Manu, Horațiu Mălăele.
	</br></br>
	Teatrul Tineretului este o instituție culturală profesionistă, specializată în producția de spectacole de teatru și activități artistice interdisciplinare, la realizarea cărora trupa permanentă de actori colaborează cu artiști invitați, regizori, scenografi, coregrafi, actori, artiști vizuali de marcă din toate generațiile. Sprijinirea creatorilor de teatru aflați la început de drum este o misiune marcată în ADN-ul acestei instituții de la momentul începerii funcționării acesteia, în anul 1958. Prin programele sale, TT propune comunității publicului din județul Neamț, și, de bună seamă, nu doar acesteia, o ofertă teatrală de calitate, diversă, inedită, nonconformistă, invitând spectatorii de toate vârstele la implicare și participare, de la actul de reflecție asupra produselor teatrale până la co-creație, ținând cont de noile tipare de consum ale începutului de secol 21.
	</br></br>
  Teatrul Tineretului funcționează în subordinea Consiliului Judeţean Neamţ, ca instituție publică de cultură de importanță județeană, cu personalitate juridică şi, alături de celelalte instituţii publice de profil, propune o ofertă culturală ce vizează promovarea valorilor cultural-artistice autohtone și universale pe plan național și internațional, inițierea și desfășurarea proiectelor și programelor culturale în domeniul educației formativ-artistice.
	</br></br>
	Clădirea Teatrul Tineretului se află în centrul orașului Piatra Neamț, în imediata vecinătate a centrului vechi al acestuia, unde se păstrează complexul arhitectural Ctitoria lui Ștefan cel Mare, format din Biserica „Sfântul Ioan Botezătorul”, Turnul-clopotniță și Curtea Domnească. Pentru locuitorii orașului, dar și pentru vizitatorii săi, clădirea Teatrului Tineretului reprezintă un important punct de referință. Instituția beneficiază de o vecinătate imediată foarte bogată în repere culturale locale, dat fiind faptul că, din cele 16 muzee distincte ale Complexului Muzeal Județean Neamț, în Piatra Neamț se regăsesc: Muzeul de Istorie și Arheologie, Muzeul de Artă, Muzeul de Etnografie, Muzeul de Artă Eneolitică Cucuteni, Muzeul de Științe Naturale, Muzeul Memorial „Calistrat Hogaș”, Galeriile de Artă „Lascăr Vorel”, Expoziția „Curtea Domnească”.
  </p>
  </br>
</div>
</br></br></br>
</div>
{% endblock content %}
</body>
</html> 
